<div class="home min-h-[75vh] flex justify-center items-center flex-col bg-gray-100">
    <div class="main w-[60vh] m-auto text-center">
        <h1 class="text-3xl font-bold">Welcome to Enotes.com</h1>
    <p class="my-4 text-justify ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, magnam tenetur, deleniti dolore consectetur quibusdam illo explicabo, voluptatum odio rem accusamus numquam sunt animi? Sint labore illo officia consectetur quos ea repellat veritatis debitis.</p>
    
    </div>
</div>